@{
    ViewBag.Title = "Home Page";
}

<div id="result">

</div>

@section scripts{
<script>
    $.ajax({
        url: 'http://localhost:5537/api/values/',
        type: 'GET',
        //dataType: 'json',
        success: function (data) {
            $("#result").text(data[0].FieldOne + data[0].FieldTwo);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert(textStatus);
        }
    });
</script>
}